<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="{% url 'PhoneReview:PhoneReview' %}">Phone Review</a>
    </nav>

    <div>
    <img src="{% static 'images/banner.jpg' %}" alt="Top Banner from Google Image" />
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>