{% extends 'layout.html' %}

{% block title %}
    Add New Review
{% endblock %}

{% block content %}
<div class = "container">
    <h1>Add New Review</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <h1>Existing Phone Reviews</h1>
    <ul>
        {% for review in reviews %}
        <li><p> {{review.article}} - {{review.date_published}} - 
            {% for model in review.phone_model.all %}
                {{ model.model_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %} </p>
        </li>
        {% endfor %}
    </ul>
<div>

    
{% endblock %}
    


                       